#map {position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.map {position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
/* #mymodalbtn{
    position: absolute;
    left: 30px;
    top: 3px;
    z-index: 1000;
} */